@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

.ajuda {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px 30px;
  background-color: #f6c84b;
  margin: 0 20px;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* text-decoration: none; */
  height: 20px;
  transition: ease 0.3s;
}
.ajuda a {
  text-decoration: none;
  color: black;
}

.ajuda:hover {
  height: 30px;
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* LEFT BAR */
.left-bar {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 10px; */
  background-color: #f9f0d9;
}
.left-bar img {
  height: 120px;
}
.left-bar p {
  padding: 10px;
  text-align: center;
}
.left-bar button {
  width: 120px;
  height: 50px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 15px;
}
.left-bar button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

/* LEFT BAR  */

/* CONTAINER TOP  */

.container-main {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  align-items: center;
}

.container-main .container-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 20%;
  font-size: 18px;
}
.container-main .container-top .container-metricas {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 80%;
  font-size: 18px;
  justify-content: space-between;
}
/* CONTAINER TOP */
/* METRICAS */
.box-1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(0deg, #ff1919, #ffc1c1);
  justify-content: space-around;
  color: rgb(0, 0, 0);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.box-2 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(0deg, #ffae14, #ffed91);
  justify-content: space-around;
  color: rgb(0, 0, 0);
}
.box-3 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(0deg, #4da659, #85ff83);
  justify-content: space-around;
  color: rgb(0, 0, 0);
}
.box-4 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(0deg, #ffae14, #ffed91);
  justify-content: space-around;
  color: rgb(0, 0, 0);
}
.box-5 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(0deg, #ff1919, #ffc1c1);
  justify-content: space-around;
  color: rgb(0, 0, 0);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* METRICAS */
/* CAIXA DAS COLMEIAS */
.container-main .container-dados {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.container-main .container-colmeias {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 40%;
  height: 80%;
  border-radius: 5px;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
}
.container-main .container-colmeias a {
  text-decoration: none;
  color: black;
}
.container-main .container-colmeias img {
  height: 70px;

  margin: 10px 0;
}

.container-main .container-dados .container-colmeias .linha-1 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 170px;
}
.container-main .container-dados .container-colmeias .linha-2 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 170px;
  flex-direction: row;
}
.container-main .container-dados .container-colmeias .colmeia {
  height: 190px;
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;

  background-image: url(../assets/images/hexagono-vermelho.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s ease;
}
.container-main .container-dados .container-colmeias .colmeia:hover{
  transform: scale(1.03);
}

/* GRAFICOS */

.graficos {
  display: flex;
  flex-direction: column-reverse;
  width: 50%;
  height: 80%;
  align-items: center;
  justify-content: space-between;

  /* justify-content: ; */
  gap: 50px;
}
.graficos .grafico-1 {
  padding: 0px;
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.graficos .kpis {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.graficos .kpis .botoes {
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
}

.graficos .kpis .botoes button {
  width: 23%;
  cursor: pointer;
  border-style: solid;
  color: #ffffff;
  transition: ease 0.3s;
}
.graficos .kpis .botoes button:hover {
  transform: scale(1.03);
  filter: brightness(1.3);
}
#kpi1 {
  background-color: white;
  color: black;
  font-weight: bold;
  border: solid black 8px;
}

#kpi2 {
  background-color: white;
  color: black;
  font-weight: bold;
  border: solid red 8px;
  /* border-radius: 15px; */
}

#kpi3 {
  background-color: white;
  color: black;
  font-weight: bold;
  border: solid yellow 8px;
  /* border-radius: 15px; */
}
#kpi4 {
  background-color: white;
  color: black;
  font-weight: bold;
  border: solid green 8px;
  /* border-radius: 15px; */
}

/* .graficos .grafico-2 {
  padding: 0px;
  height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
} */



.info-colmeia{
  display: flex;
  flex-direction: column;
  gap: 0;
}
